[Desktop Entry]
Version=0.1
Type=Application
Terminal=true
Icon=/opt/autoLinux/autoXampp/*png
Name=autoXampp-Runner
Exec=/opt/autoLinux/autoXampp/autoXampp-Runner.sh
